* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Lato;
}

header {
    width: 100%;
    background-color: #ED4C5C;
    padding-top: 59px;
    /* padding-left: 50px; */
    padding-bottom: 55px;
}

header,
main,
footer,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
}

#logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    text-indent: 34.55px;
    color: #FFFFFF;
    font-size: 18px;
    display: block;
    margin-bottom: 48px;
    margin-left: 50px;
}

nav {
    margin-left: 50px;
}

nav a {
    color: #FFFFFF;
    padding-right: 25px;
    font-size: 14px;
}

nav a:hover {
    color: #adaaaa;
}

header img {
    display: block;
    margin-top: 45px;
    margin-left: 90px;
    margin-bottom: 45px;
    border-radius: 15px;
}

header button {
    width: 160px;
    height: 50px;
    border-style: none;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #ED4C5C;
    font-weight: 600;
    margin-left: 50px;
}

.mainSection1 {
    background-color: #FFFFFF;
    padding-top: 56px;
    padding-left: 50px;
}

.mainSection1 p {
    width: 445px;
    height: 83px;
    margin-top: 30px;
    font-size: 14px;
    text-align: justify;
}

.mainSection1 a {
    font-size: 14px;
    margin-top: 20px;
    color: #ED4C5C;
    margin-bottom: 40px;
    display: block;
}

.imgColumn {
    margin-right: 30px;
    width: 350px;
    height: 249px;
    text-align: center;
    font-size: 0px;
}

.mainSection1 .imgColumn img {
    border-radius: 8px;
}

.mainSection1 .imgColumn a {
    display: inline-block;
    color: #ED4C5C;
    font-size: 14px;
    font-weight: bold;
    margin-left: -350px;
    vertical-align: 14px;
    border-style: none;
    border-radius: 8px;
    background-color: #FFFFFF;
    width: 350px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.mainSection2 {
    background-color: #F5F4F4;
    padding-top: 57px;
    padding-left: 50px;
    padding-bottom: 271px;
}

.mainSection2 h1 {
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 36px;
}

.mainSection2 .imgColumn {
    background-color: #FFFFFF;
    width: 255px;
    height: 226px;
    color: #101010;
    display: inline-block;
}

.mainSection2 .imgColumn img {
    margin-top: 70px;
}

.mainSection2 .imgColumn h3 {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 18px;
}

.mainSection2 .imgColumn p {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 12px;
}

footer {
    padding-left: 53px;
    padding-top: 30px;
    padding-bottom: 23px;
    background-color: #ED4C5C;
}

footer img {
    padding-right: 25px;
}

footer span {
    line-height: 80px;
    padding-left: 80px;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}